

<h1><%= @team_name%></h1>

<h2>Team Motto: <%= @team_motto%></h2>

<h2>Hero Name: <%= @hero_name[0]%></h2>
<h4>Hero Power: <%= @hero_power[0]%></h4>
<h4>Hero Biography: <%= @hero_bio[0]%></h4>

<h2>Hero Name: <%= @hero_name[1]%></h2>
<h4>Hero Power: <%= @hero_power[1]%></h4>
<h4>Hero Biography: <%= @hero_bio[1]%></h4>

<h2>Hero Name: <%= @hero_name[2]%></h2>
<h4>Hero Power: <%= @hero_power[2]%></h4>
<h4>Hero Biography: <%= @hero_bio[2]%></h4>

